/* Antd 主题变量 */
:root {
	--color-primary: var(--ant-color-primary);
}

/* 暗色主题背景 */
.dark {
	background-color: #141414;
	color: rgba(255, 255, 255, 0.85);
}

/* 亮色主题背景 */
html {
	background-color: #ffffff;
	color: rgba(0, 0, 0, 0.88);
}
