:root {
	color-scheme: light dark;
	font-family: "Inter", "Geist", system-ui, -apple-system, sans-serif;
}

* {
	box-sizing: border-box;
}

html,
body {
	height: 100%;
	margin: 0;
	background-color: transparent;
}

a {
	color: inherit;
	text-decoration: none;
}

pre {
	font-family:
		"SFMono-Regular", Menlo, Monaco, Consolas, "Liberation Mono", "Courier New",
		monospace;
}
